*~
*.o
*.a
*.so
*.d
*.x

config/config.h
config/version
config.status
config.log
config.boost
config.math
config.sarah
flexiblesusy-config
Makefile

doc/*.html
doc/*.png
doc/*.gif
doc/*.md5
doc/*.map
doc/*.css
doc/*.dot
doc/*.aux
doc/*.log
doc/*.toc
doc/*.out
doc/flexiblesusy.pdf
doc/version.tex

test/*.log
